.profile__edit-button {
  grid-area: button;
  margin-top: 15px;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-image: url("../../../images/edit_btn.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 760px) {
  .profile__edit-button {
    margin-top: 5px;
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
