.profile__info {
  grid-area: name;
  margin: 0;
  margin-bottom: 16px;
  max-width: 380px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: white;
}
@media screen and (max-width: 760px) {
  .profile__info {
    max-width: 200px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 14px;
  }
}
