.profile__add-button {
  margin: 0;
  margin-top: 33px;
  margin-left: auto;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background-image: url("../../../images/add_btn.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 760px) {
  .profile__add-button {
    margin: 0 auto 0;
    min-width: 280px;
    max-width: 320px;
    width: 100%;

  }
}

.profile__add-button:hover {
  opacity: 0.6;
}