.elements {

  margin: 0 auto 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  align-items: center;
  z-index: 0;
}

@media screen and (max-width: 920px) {
  .elements {
    max-width: 582px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .elements {
    max-width: 282px;
    grid-template-columns: 1fr;
  }
}
