@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
/****************************************/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
/**************end of header*****************/
@import url(../blocks/main/main.css);



@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info-block/profile__info-block.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__sub-info/profile__sub-info.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
/********************end of profiel*****************************/

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__trash/elements__trash.css);
@import url(../blocks/elements/__block/elements__block.css);
@import url(../blocks/elements/__cover/elements__cover.css);
@import url(../blocks/elements/__title/elements__title.css);
@import url(../blocks/elements/__like-box/elements__like-box.css);
@import url(../blocks/elements/__like/elements__like.css);
@import url(../blocks/elements/__like-counter/elements__like-counter.css);
@import url(../blocks/elements/__like/_type/elements__like_type_active.css);
/********************end of elements*****************************/

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_oppened/popup_oppened.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);

@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form/_type/_delete/popup__form_type_delete.css);
@import url(../blocks/popup/__form/_type/_change-avatar/popup__form_type_change-avatar.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__title/_/type/_delete/popup__title_type_delete.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_error/popup__input_error.css);
@import url(../blocks/popup/__input/__input-span/popup__input-span.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(../blocks/popup/__preview-box/popup__preview-box.css);
@import url(../blocks/popup/__preview/popup__preview.css);
@import url(../blocks/popup/__preview-text/popup__preview-text.css);

/************* end of Popup**********/


@import url(../blocks/footer/__title/footer__title.css);

/************* end of footer**********/



