.elements__like {
  margin-top: 6px;
  margin-right: 18px;
  margin-left: auto;
  width: 21px;
  height: 19px;
  background-image: url(../../../images/heart.png);
  transition: 0.3s;
}
.elements__like:hover {
  opacity: 0.6;
}