.popup__close-button{
    position: absolute;
    top: -40px;
    right: -422px;
    background-image: url(../../../images/Close-Icon.png);
    background-size: contain;
    width: 48px;
    height: 48px;
    width: 100%;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    background-color: black;
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

@media screen and (max-width: 760px) {
    .popup__close-button{
        top: -53px;
        right: -245px;
    }
    
}

.popup__close-button:hover {
    opacity: 0.6;
  }