.popup__close-button{
    background-image: url(../../../images/Close-Icon.png);
    max-width: 526px;
    height: 45px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    transition: 0.3s;
}

@media screen and (max-width: 760px) {
    .popup__close-button{
        width: 282px;
    }
    
}

.popup__close-button:hover {
    opacity: 0.6;
  }