.popup__save-button {
  padding: 0;
  margin: 31px auto 0;
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
  width: 358px;
  height: 50px;
  background: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  border: 0;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .popup__save-button {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}

.popup__save-button:hover:not(:disabled){
  opacity: 0.8;
}
