.popup__form {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  background-color: white;
  width: 100%;
  max-width: 430px;
  min-height: 330px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 760px) {
  .popup__form{
      width: 282px;
      min-height: 322px;
  }
  
}

