.profile__info-block {
  padding-top: 20px;
  min-width: 420px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-areas:
    "name button"
    "description description";
}

@media screen and (max-width: 760px) {
  .profile__info-block {
    min-width: 0;
    margin: 0 auto 0;
  }
}
