.profile__info-block{
    padding-top: 20px;
    min-width: 420px ;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 760px) {
    .profile__info-block{
        min-width: 0;
        margin: 0 auto 0;
    }
    
}