.elements__like {
  width: 21px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  cursor: pointer;
  transition: 0.3s;
  border: 0;
  background-color: rgb(0, 0, 0, 0);
}
.elements__like:hover {
  opacity: 0.5;
}