.popup__input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 30px 36px 0px;
  padding: 0;
  padding-bottom: 13px;
  border-width: 0 0 1px 0;
  border-color: rgba(0, 0, 0, 0.2);
}
.popup__input:focus {
  outline: none;
}
.popup__input:first-of-type {
  margin: 0px 36px 0px;
}

@media screen and (max-width: 760px) {
  .popup__input{
      margin: 22 30px 0px;
      padding-bottom: 9px;
  }

  
}