.popup {
  display: flex;
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
  z-index: 2;
}
